---
import MainLayout from "../layouts/MainLayout.astro";
import ZoomableImage from "../components/ZoomableImage.astro";
---
<MainLayout title="Art Gallery">

<h1>Art Gallery</h1> 

<section class="image-gallery">
    <ZoomableImage src= "../images/August.png" alt= "August profile pic">
    </ZoomableImage>
    <ZoomableImage src= "../images/Gideon.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Viggo_full.png" alt= "Picture of Viggo">
    </ZoomableImage>
    <ZoomableImage src= "../images/Liz.png" alt= "Picture of Liz">
    </ZoomableImage>
    <ZoomableImage src= "../images/Viggo-in-forest.png" alt= "Viggo approaching the mysterious figure by the fire after his death.">
    </ZoomableImage>
    <ZoomableImage src= "../images/ExitRight.jpg" alt= "Gideon and Liz escaping from 'The Light'">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Albrecht_full.png" alt= "Picture of The Dog, a.k.a Wrath">
    </ZoomableImage>
    <ZoomableImage src= "../images/Stephen.png" alt= "Picture of 'the Help'">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Light_full.png" alt= "Picture of 'The Light'">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Light1.png" alt= "">
    </ZoomableImage>
    <ZoomableImage class= "wide" src= "../images/August_Sketches.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Gideon_child.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Gideon_mum.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Gideon1.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Gideon_teen.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Gideon2.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Gideon_study.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Resurrected.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Xander.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Gideon_emote.png" alt= "">
    </ZoomableImage>
    <ZoomableImage src= "../images/gallery/Viggo_emote.png" alt= "">
    </ZoomableImage>
</section>
</MainLayout>