---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Credits">
<h1>Credits</h1>
<h3>Coding & Wedsite design</h3>
<p>Judyta Kuriata<br /> Corey Bradford</p>
<h3>Writing</h3>
<p>Darragh Kempson<br /> Judyta Kuriata<br /> Kami Jagla<br /> Terry Marks</p>
<h3>Art</h3>
<p>Terry Marks<br /> Kami Jagla</p>
<h3>Supervisors</h3>
<p>Yorick Oiche<br />
Luciano de Lucia</p>
</MainLayout>