---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Events">
<h1>Events</h1>
<p>return of the Morrigan<br />
    posh tin of tuna<br />
    madness<br />
    The Magician<br />
    the wall</p>
</MainLayout>