---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Gideon">
    <p>
    <img id="ProfilePic" src="../../../images/Gideon.png" alt="Picture of Gideon">
    <h1>Gideon</h1>
    <br>
    <ul>
    <li>Name : Gideon Valentine</li>
    <li>Known as : Gideon, "Sir Valentine", many roles and aliases</li>
    <li>Pronouns : He/Him</li>
    <li>Sexuality : Bisexual</li>
    <li>Age : 23</li>
    <li>Archetype : Sidhe-touched</li>
    <li>Affinity : Spirit</li>
    <li>Profession : Actor</li>
    <li>Hobbies : Reading (fiction mostly), writing, theatre-going, fashion/costume-making, partying, being a philandering socialite</li>
    </ul>
<br>
<br>
    <h2>About me!</h2>
    <h3>Motivations</h3> - Fame and fortune; to be known, loved and remembered by as many people as possible<br /><br>
    <h3>Typical Day</h3> - Wake early not necessarily in his own bed, spend an hour or two getting ready and reading lines before the mirror, then spend roughly half the day with the troupe or at auditions, the other half in his day job - sadly acting is an unstable career, even for one as talented as himself. Finish up the day with a lively party in one of the many taverns where he is welcomed as a guest of honour.<br /><br>
    <h3>History</h3> - Not much is known of his early life or parents, who died under mysterious circumstances before he was born. One thing is for sure, he's always had a passion and affinity for theatre, which paid off when he was cast in a wildly successful production of a hot new play in the Grand.  This role catapulted the young aspiring actor into the limelight, he now lives a life of success and renown doing what he loves.
    </p>
</MainLayout>