---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Lamplight">
        <h1>The Lamplight</h1>
        <p>A figurehead of the Monto, the red light district of Dublin, the Lamplight is a truly unique form of Brothel. <br /><br>
            The Monto, the famous red-light district of Dublin, had basically closed its doors in the early 20th Century, the buildings sold off and redesigned. Lamplight was one such rebuild, smack bang in the middle of the district, turned into a casino by an eccentric Lord.<br /><br>
             But times got harder after the war and the district returned, without much consideration for the new neighbours. Lords and Ladies could abide a good gambling club, but they wouldn’t be caught dead in the Monto. In the face of this, most people would’ve given up on the casino and adapted. But the Lord who ran Lamplight refused.<br /><br>
             It was his club, the city wasn’t gonna change that. Bit by bit Lamplight died. His old customers couldn’t abide the scandal and any new ones couldn’t afford the rates. But the Lord kept his ground. His family tried to convince him to sell, even had him institutionalised in the hopes of pleading insanity. But the property stayed, and the club kept dying. <br /><br>
             In a last-ditch attempt to snap him out of it his daughter organised a bet. If he beat the Madame’s of the district in a poker game, they’d help him keep the place alive. If he lost the property went to the winner. What she didn’t realise was that her father would do anything if it meant keeping the club. He cheated. Lied through his teeth, won the game with fixed cards, and walked away with the support of the Monto. Until they found out. <br /><br>
             The Lord showed up a week later, hanging from the lamppost out the front, a redrafting of his will in his top pocket. The whole thing went to his daughter. People ignored the bloody fingerprints on the paper. The coroner ignored the signs of torture on the body. And the club became a brothel, renowned for its prices. The macabre story rakes in the tourists, and the profits.<br /><br>
            Now the most exclusive brothel in the city, the floors are sectioned by colour, with matching handkerchiefs allowing access, the Lamplight caters to those with a desire that needs satisfying.
            </p>
</MainLayout>