---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Liz">
<img id="ProfilePic" src="../../../images/Liz.png" alt="Picture of Liz">
<p>A minorly successful actress. She has starred as quite a few love interests in lesser known theatres.  </p>
        <ul>
            <li>Name : Elizabeth O'Malley</li>
            <li>Known as : Liz</li>
            <li>Pronouns : She/Her</li>
            <li>Sexuality : Straight</li>
            <li>Age : 23</li>
            <li>Archetype : N/A</li>
            <li>Affinity : N/A</li>
            <li>Profession : Actress, Understudy, A very convincing bush, Cleaner.</li>
            <li>Hobbies : There's not much time between auditions and work but what time she does have she prefers spending in her little flat, writing in secret in the hopes of one day both writing and starring in her own musical.</li>
        </ul>
</MainLayout>