---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Locations">
    <h1>Locations</h1>
    <p>Trinity Campus<br />
        Grange Gormon<br />
        The Spire<br />
        The Lamplight<br />
        The Grand<br />
        Winding Stair<br />
        Safe House</p>
</MainLayout>