---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Madness">
    <h1>The Madness</h1> 

    <h4>Folus and The Fomoire </h4> 

    <p>The counterpoint to Danu and her people, Folus or the Void as he is more commonly known, is to the sea of creation as Danu is to the land. And as Danu had the Tuath, Folus had the Fomoire. In ancient times the two races lived in opposition, serving as the villains, counters and, in some cases, mates, to one another. The Fomoire were a race of giants, formed from the natural landscape much as dryads or nymphs. They were immortals, in a constant cycle of death and rebirth, growing and wilting as with the seasons. Their being was sparked by pieces of Folus himself, making them uniquely insatiable.  This lead to them being notoriously difficult to deal with and resulted in wars and battles that lasted centuries. The two sides balanced, but consistently destroyed that which the other worked to create. There was something else however, something coming, and both sides could feel it. 

    <h4>The Great Sacrifice</h4> 

    While the battles savagely raged the world over between the Tuath and the Fomoire, a third party began to intervene. Much as it would in future with the Morrigan the sickness took advantage of these clashes, working both sides into a frenzy, pushing one to completely annihilate the other. It had varying degrees of success, teaching both sides the way to truly end their opposite immortal. It spoke through the voices of their leaders, their trusted advisors. It slipped through the cracks to taint and twist. And so came the Slaughter.<br /> 

    A war like no other this bloodshed was unmatched, wiping creatures and souls from the earth for good, defying the natural way of things. In an effort to stop the death Folus and Danu made a deal. They would each give themselves to the world, creating something far greater and yet still far less powerful. Danu became the Otherworld, granting her power to the nature of life itself and Folus, Folus became a great barrier, a force to hold back the oncoming sickness. He became a wall.<br /> 

    In an attempt to rid themselves of the sickness, The Fomiore, a race for some reason far more susceptible to its influence, offered to reinforce the work of their father. And so they became bricks, forgoing their sentience and their abilities to become one with the universe. Known as the Great Sacrifice it ensured that the world would not be taken by the sickness and that life could continue in balance.<br /> 

    But the sacrifice was not complete and much to the joy of the Sickness some of the Fomoire remained. These became darker, their purpose warping and twisting and so they became the vessels. 

    <h4>A New Sickness</h4> 

    The vessels spent much of their time attempting to put an end to the Tuath. They hunted and hounded them, losing only when the Tuath made their Promise and fled the world of man. This sent them into hibernation, growing into ancient trees and plants that poisoned the land and the minds of those around them. When at last the Morrigan fell prey to the Sickness herself these ancient beings began the process of waking.<br /> 

    Following the failure of the Paistai na Tuath, one of the vessels found itself a home amongst the Science of the peoples of Dublin. Prone to fear, paranoia, distrust and radicalisation, they were ripe for the influence of the vessel known only as Madness. It infected their lifeforce, their Science, and drove them into frenzies that defied explanation. People grew mad, attacking one another in the streets, killing, maiming, burning. They became a horde akin to a swarm of locusts, consumed by fear and obsession. Once more Dublin was on the brink of destruction, though now no rank and file of civilisation was safe.<br /> 

    In an attempt to curb the spread, the Scientists created masks for the population to wear. Coded to detect the Science within an individual and thus notify if one had become infected, these masks were offered to all levels of the class divide. They then imposed a quarantine, blocking off various sections of the city behind makeshift barricades manned by well equipped soldiers. These areas quickly became a hotbed of the madness, with cults and other similar groups arising to take advantage of the new power vacuums in the ungoverned areas.<br /> 

    Some were religious, others purely heretical, some were even Scientific, no matter the belief you could be guaranteed to find it somewhere in the quarantine zones. Soldiers were ordered to shoot any who attempted to leave on sight, equipped with large clockwork repeaters to achieve the feat. Bodies were quickly piled beyond the barricades, adding to the sense of sickness that the quarantine evoked. But the Tuath were not to leave the city unprotected. In an attempt to deal with the Madness they called upon another set of heroes, an old familiar face in that of Cleon and a new band, to work together to heal the city of its Madness and save the world once more. 

    <h4>The Ballad of the Entertainer</h4> 

    With many of the other Tuath busy dealing with the threat across the globe, Lugh, the youngest and most proficient of them, took it upon himself to guide the erstwhile heroes. Offering them a piece of his own power The Entertainer, granted them the ability to face their own Madness at its source, healing their wounds and in doing so, gaining the strength to fight Madness directly.<br /> 

    Their task was difficult and not without its casualties, resulting in the loss of Cleon from not only the team, but also the memories of the general populace. To take his place came the Husband of the great Warrior Scathach, Tinneas Morrigan, the God of Disease and Plague. An ideal match for the Madness itself he joined the Scarred Soldier Doyle, the Hound Madra, the Matchmaker Caitlin, the forgotten Meavis and the cursed Lady O’Connor. Together they worked to break their own curses, chipping away at the Madness’s control over them. 

    <h4>A Second Void</h4> 

    Aware of their successes and chance at thwarting its well laid plans the Sickness took it upon itself to infiltrate and work against the group. Manifesting as its true form, the Void of another plain, it made a deal with Lady O’Connor. Through this lifeline it was able to drag more of its power through, slipping past the well laid defences of Danu and Folus to manifest more completely in their realm. Though other plans were in place, this mouthpiece allowed him far more leeway, ensuring a mess for the heroes to clean up.<br /> 

    However, thanks to the efforts of Tinneas, and the well timed return of an altogether new Cleon, the group prevailed, beating back the Void and facing Madness with battle-worn and honour-tested abilities. They received many a boon from the Tuath for their assistance, with their intervention ensuring the safety of not only the Whispers, but also the Sidhe themselves. Their victory came at quite the cost, with each member giving a piece of themselves to forge the brick that would house the Madness. These pieces fled through the web of reality, slipping through time and space to settle in some of the most unexpected of locations…</p>
</MainLayout>