---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Morrigan">
    <p>

        <h1>The Morrigan and The Ways</h1>
        
        <h4>The Promise</h4>
        
        For most of the history of the world humanity lived alongside the Sidhe, enjoying the benefits and the opportunities their presence offered. Then came the Great Conflicts, wars fought by Tuath and their ilk, that shook the very foundations of human society. They lasted centuries, tearing apart whole cultures and leaving nought but the ashes of many great civilisations. <br />
        
        When at last the dust had settled those that survived realised that the world could not continue to develop so long as they were there to intervene. And so they called upon Ogma, scribe of the Tuath and keeper of knowledge, and using the ancient script of Ogham, he carved the promise. The sidhe would leave the world to humanity, retreating back into the realm of science and dreams, the Otherworld. They would fade into memory, passing gradually into the words of myth and legend and ensuring that humanity could flourish without their interference. <br />
        
        And so, the centuries passed. The sidhe backed away, retreating into the Ways, the paths between Earth and the Otherworld, and the civilisations of man began to grow. Soon the Gods, the beings of before, faded, becoming afterthoughts in the wants and wishes of conquerors and slaves, and the people learned to pray and live on faith. Sometimes they would exert influence, perhaps cause mischief, but for the most part they faded and with them so did the supernatural power they wielded.
        
        <h4>The Oathbreakers</h4>
        
        Though at first all of the Sidhe were amenable to the Promise, it became a sore point for many of those who were closer to humanity. As their power faded from the world so did their influence, leaving many without purpose and more still frustrated. There was no level of Sidhe society unaffected. When at last humanity left them behind completely and the Ways sealed themselves shut, those who were affronted by this outcome came together. Calling themselves the Oathbreakers they made an agreement to find a loophole in the Promise, working together, however tenuously, to return to the realm of humanity.
        
        <h4>The Morrigan</h4>
        
        A triple goddess of death and all its forms, The Morrigan was the member of the Oathbreakers most easily situated to find this loophole. She found the veil between realms was most delicate at the point of death. Taking advantage of this she pushed back, finding souls on the brink and whispering in their ears. She would tell of great power, whisper stories of riches and royalty, never truly lying but always misrepresenting the truth. As time passed this skirting the line began to take its toll. Unable to break the Promise and yet pushing against its very purpose, she left herself vulnerable to a sickness that infected her mind and warped her, pushing her beyond her own delicate balance of madness. <br />
        
        Her work was not in vain however, and after much careful manipulation she guided a small group of humans to the well of Danu’s power in the Hill of Tara. Here they rediscovered the wonders humanity had forgotten and they in turn called it Science. The Morrigan had succeeded, now all they had to do was wait, an easy proposition for immortals. <br />
        
        But things did not go as smoothly as they had planned. Humanity had grown too used to living apart from the supernatural and quickly grew greedy with their new power. The Scientists found ways to
        
        separate it from the natural way of things, warping and modifying the power so that it obeyed them and them alone. The Ways were cracking open, but nowhere near enough, the old gods were myth now, and the new were all powerful, unable to exist alongside any doubt. <br />
        
        So, The Morrigan pushed again, drawing the Scientists on, encouraging them to push the veil. So the Scientists searched for those with the affinity of Spirit, breeding and training, pushing their children generation after generation. The Ways cracked a little more, but humanity still refused to rely on the old ways and they were close, too close, to finding a way to do without them entirely.
        
        <h4>The Curse of Tara</h4>
        
        The Scientists had made the Hill of Tara their home. It was where they had rediscovered Science and it offered them a closeness to the power that was hard to replicate anywhere else. It became their training ground for Spirit Scientists, a place where they could gather those with this power together in an attempt to find that which they craved above all else, Immortality. This of course could not happen and so The Morrigan pushed again. This time she took more direct action, pushing two unhappy and powerful students to cast a curse. She had them draw upon their hatred for how they had been treated, the pain they had endured and the years of torture used to heighten their abilities. And when it was all bubbling to the surface she prompted them to set it loose, flooding Tara with a deadly murder of crows. Within moments the whole campus was overrun, forcing the Scientists to flee and at last giving her a real chance to reopen the Ways. All she had to do now was keep pushing the two who had listened.
        
        <h4>The Shadowman</h4>
        
        Years passed and the Morrigan grew more and more maddened, making deals with half dead souls, pushing the boundaries farther and farther. She became a twisted shadow of her former selves, her forms giving into the purest forms of themselves. But still the seed she had planted in those two grew. The effects of the curse had reduced the amount of Spirit scientists down to minimal numbers, ensuring that those who survived were given special privileges. This allowed her chosen two to rocket up in status, giving them opportunities and knowledge that was otherwise inaccessible. She granted them gifts when they asked, only extracting the most minimal payment by her standards. They used these to refine the inquisitors and to ensure that the Scientists relied heavily on them. <br />
        
        Then her chance came. One of the two fell in love, and this in turn led to a child. The Morrigan took advantage of her connection to spirit science and drew her closer to death, giving her a phantom illness and drawing her father to desperation. He searched for a cure, finding solutions in a book of the old ways. This in turn led to yet another ritual and a deal, this one with an innocuous request, simply to be at the bedside of the last of them to die. This would allow her to step through, ripping open the veil, breaking the Promise, and never having to do so by her own hand. <br />
        
        But one of her pet’s group grew wise and they in turn tried to weasel out of the deal. She released a servant to clean up the resulting mess, using the last of her strength to push it through the veil. They trapped it, binding her pet Scientist to it, hiding themselves and ensuring the deal could not be complete. <br />
        
        Not one to be outdone she used the last connection she had, the child. Through a series of manipulations, murders and the love of a child for her parent she at last succeeded, killing her favourite pet in the process. It didn’t matter however, as she had succeeded, ripping open the veil and at last reopening the Ways, Promise be damned. <br />
        
        It was then, at her moment of triumph, as her body coalesced completely, that she was undone. At her weakest the sickness took advantage, and the child she had so cleverly manipulated was given the chance to kill the goddess of death herself. In her final moments, before her lucidity fled completely, she saw the strings and realised the manipulations that had been her downfall. It was too little too late.</p>
</MainLayout>