---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Paistai na Tuath">
<h1>Paistai na Tuath</h1>

<h4>Beginnings</h4>

<p>In the aftermath of the opening of the Ways, the city of Dublin was in turmoil. As more and more of the trades-people, artists and soldiers of the city found themselves gifted with an ounce of Scientific power, the Scientists’ control began to wane. Having enjoyed a near Monopoly on the power for nearly four centuries, they were unprepared for such an explosion in what they dubbed ‘heretical power’. They scrambled for a way to regain this control, a scapegoat to prove the dangers of using science outside of their command. They found this in the Paistai na Tuath.<br />

Beginning as a small but devout group, long before the opening of the ways, the Paistai na Tuath followed the teachings of The Oathbreakers. Made up of mostly sidhe-touched individuals, their aims centred around fully returning the supremacy of their gods. In order to achieve this goal they began seeking out those with minor scientific talent and a good reason to hate the Scientists and the modern order. They would induct them into their number, usually saving them from a Scientific sting or retrieving them from the poorest parts of society. They would then teach them the ways of the Sidhe, guiding them to heighten their abilities through a deal with one of their Sidhe patrons.<br />

A generally successful strategy, their numbers inflated following the opening of the ways. The largest sect however, followed and had made their deals with the Morrigan. With her demise this led to a thoroughly distressing issue, what would happen to their power? After all, it was very unusual for a Sidhe to lose their sentience, let alone be killed. The Scientists, well aware of the Paistai and well placed to influence them, took advantage of this fact. With careful suggestion and even more careful planning, they gave this sect access to some of their more dangerous Scientific texts, and then sat back to watch the fireworks.<br />

Making use of a combination of forbidden rituals, a fanaticism that rivalled cults, and a very angry part of society, they began the process of bringing back their Goddess. So began a truly deplorable series of acts, the ideal way for the Scientists to regain control in this new world.

<h4>Scientific Terrorism</h4>

The Veil relies on a delicate balance in order to properly keep a separation between the plains. The Ways serve as a method of transfer, allowing an easy movement of power too and from the Otherworld. When an excess of power is concentrated in one location, this tends to rip open a new Way, upsetting the balance temporarily. The Paistai na Tuath made use of this fact, turning themselves into Scientific Suicide bombers. They would draw in as much of a Sidhe’s power as they could manage and then release it, creating a massive outflowing of elemental energy and ripping a significant hole in the veil. This in turn would result in disastrous effects to the surrounding areas. Tsunamis in city streets, earthquakes on the rooves of buildings, infernos atop rivers and lakes, tornados inside the fanciest of hotels, nowhere was safe and the public scrambled to avoid the danger, fleeing Dublin in droves. <br />

In order to combat the damage this was doing to the veil, and to prevent any success on the part of the Paistai, the Tuath De Dannan commissioned a group of individuals to deal with the issues. They were to infiltrate and shut down the group, ensuring the safety of the veil and restoring the balance of power. However, from the get go things got a little crazy. <br />

Beginning with a terror attack on St. Patricks Cathedral and winding their way through a muddle of atrocities, mysteries, bloodthirsty barbers, Otherworld madness and a Sidhe that simply refused to die, Cleons Crew worked hard to solve the problem. There were more than a few consequences for the city however, including a dome of stone roots, the death of a large portion of the royal family, the flooding of the Poill and the collapsing of the gardens of Dublin Castle. Success was hard won, but an ongoing and pervasive fear began to haunt the streets of Dublin. <br />

The Scientists took advantage of the fear, passing restrictions and laws through parliament and the King that would never have otherwise succeeded. They locked-down the city, patrolled the streets, openly used Inquisitors and in both their old and more experimental forms. All under the guise of dealing with these terrorists. Their plans seemed to backfire as things escalated, but thankfully the band of heroes saved the day.

<h4>Aftermath</h4>

Dublin did not deal well with these attacks. Not only did it destabilise the Dail, a fact helped along by the burning of the building and the murder of half the government, it also reignited the public distrust of Science. Where tensions had begun to ease following the opening of the Ways, the attacks by the Paistai and their ilk renewed a general outcry towards heretics. The Scientists and the Church found an uptake in support, both preaching the dangers of Science in the hands of the public. The populace were being radicalised, a state that was only further ignited by the coming of Madness. </p>
</MainLayout>