---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Safehouse">
        <h1>The Safehouse</h1>
        <p>You've not come across this location yet but boy oh boy it doesn't sound useful to you. You're already safe :)</p>
</MainLayout>