---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="The Light">
    <h1>The Light</h1>
    <img src="../../../images/Peter.jpg" alt="Picture of 'The Light'">
    <style> img {width: 300px} </style>
</MainLayout>