---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="The Grand">
        <p>
            <h1>The Grand</h1><br /><br>
            The Grand, so named for its position at the mouth of the Grand Canal, is the part of the city where all things theatrical thrive. With open access to the Irish Sea, it attracts traveling troupes the world over. Every building on the site is a theatre of some sort, a mess of architecture designed with only performance in mind. Most stand at least four floors high with some housing several stages. They fit together like mismatched puzzle pieces, colours and shapes blending. Some are even built on top of older theatres, the entrance reached via outdoor winding staircases. The square is a jumble of stalls and caravans; homes for the actors and musicians, as well as shops selling things from the world over. The canal itself is often filled with houseboats that travel across from Europe. Theatres sit atop and below hotels, pubs are integrated, their theming changed to match the current show. The whole area thrums with the sights and sounds of the arts, a pulsing menagerie of all that the world can offer, and now it lies within the Wall.<br /><br>

            <h4> The Winding Stair</h4>
            One of the many theatres within the expanse of the Grand, The Winding Stair holds a special place in the hearts of the denizens of Dublin. Sitting atop an old hotel, it gets its name for the long spiral staircase that patrons must climb in order to reach the main entrance. A full 7 floors above ground level the theatre is known to have a vast array of secret passages, rooms and even a VIP area right within its very own chandelier. <br />
            
            Supported by not one but three separate Patrons the Marionette Company is one of the most well known in Dublin. Players to the King, a personal Favourite of the infamous Maxwell and the pet project of the Lady of Lavender, they have the funds, the name and the talent to truly make use of everything the theatre has to offer. Their production team includes the acting marvel and local sweetheart Johnathon Fletcher, the famous author and playwright Shay O’Shaughnessy, the conducting marvel and composer that is Sallisandra Ui Neill, the costume and makeup magic of Vivienne Nolan, and the Directing talent of Andrew Carroll, and that’s just to name a few. In more recent days they have even made a partnership with the Cat’s Tale, sharing resources, crew and even actors in order to keep both playhouses running at maximum capacity. <br />
            
            A real testament to the atmosphere and the principles of The Grand, The Winding Stair is well known and well loved. The hotel beneath has even undergone a recent renovation thanks to the support of the Marionette Company. <br /><br>
            
            <h4> The Cat’s Tale</h4>
            A once well-known pub in Dublin, the Cat’s Tale often hosted popular Bards and bands within its themed walls. When the building was burned down in an act of vandalism they went looking for somewhere new to set up. Taking over an old and abandoned underground theatre in the Grand, they quickly went to work, making careful renovations to properly prepare the location for a new experience. <br />
            
            The entrance is a wonderfully themed pub, inviting patrons to enjoy the atmosphere and partake in the joys of a cat pub. Once ready to enjoy the performance, they make their way through a set of double doors at the back and down into the bowels of the theatre. A comfortable but small space, The Cats Tale more often performs independent and unique shows, intermixing modern technology, old techniques and a truly passionate cast to create a wonderful experience. <br />
            
            Since working with the Marionette company the theatre’s acclaim has only grown. Once simply putting on a show a week, their roster and talent has grown, allowing them to both assist and entertain far more consistently. They continue to do what they can despite the Wall situation, often providing a safe haven. </p>
</MainLayout>