---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="The Spire">
        <h1>The Spire</h1>
        <p>Otherwise known as the Monument of Light, this marvellous feat of Scientific engineering serves as a power station for much of Leinster. <br /><br>
        Constructed from silver, copper, bronze and gold, the 99ft metal pillar is a testament to the ingenuity and perseverance of the Scientists. At its tip there rages a constant wild thunderstorm, contained and controlled by a complex system of rituals, mechanics and natural phenomena. <br /><br>
        While it was often rumoured that the Spire was once fuelled by an imprisoned heretic, theses have been roundly discredited since the introduction of tours of the site. Though these are heavily regulated and often quite expensive, the experience is truly astounding, if rather dangerous. <br /><br>
        Visitors describe a set of five external spheres, each the size of a small building, with an uncountable number of interlocking layers surrounding a central concentrated point of energy. <br />These spheres, are arranged at regular intervals around a large chamber where the lynchpin of the device is housed. <br />In a pattern that has the regularity of a clock, these points of energy will intermittently zip through the air of the platform, entering the central chamber where they are separated and fed back into the system, renewing the thunderstorm. <br />The excess created is then fed down the length of the tower and out into the grid. This central chamber is volatile and requires specially designed gear to navigate safely, however the viewing platform allows visitors to see the device at work, disproving the popular rumours. <br /><br>
        Despite the many disasters that have befallen Dublin in the past few years, none have managed to halt the flow of the device. The large number of failsafe’s, backups and contingencies have ensured that even a direct attack, as seen during the Army revolt this past year, has been unable to interrupt the Monument of Light.</p>
</MainLayout>