---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Stephen O'Connally">
    <p><img id="ProfilePic" src="../../../images/Stephen.png" alt="Picture of 'the Help'">
        You have not met this person yet but based on the title... They may be helpful.</p>
        <ul>
            <li>Name : ???</li>
            <li>Known as : ??? (what would you like to be referred to as?)</li>
            <li>Pronouns : He/Him</li>
            <li>Sexuality : ???</li>
            <li>Age : ???</li>
            <li>Archetype : ??? (eg. heretic, scientist)</li>
            <li>Affinity : ???</li>
            <li>Profession : ???</li>
            <li>Hobbies : ???</li>
        </ul>
        <p>About me!<br />
            Motivations - ??? (What drives your character?)<br />
            Typical Day - ??? (What would your typical day look like?)<br />
            History - ??? (How did you come to this?)
    </p>
</MainLayout>