---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Viggo">
<p>
<img id="ProfilePic" src="../../../images/Viggo.png" alt="Picture of Viggo">
    <h1>Viggo</h1>
    <br>
    <ul>
    <li>Name : Reidar Viggo </li>
    <li>Known as : Viggo, The Warrior, Lone-Axe, Battle-Forged, (sounds of screams) </li>
    <li>Pronouns : He/Him </li>
    <li>Sexuality : Battle </li>
    <li>Age : Unknown </li>
    <li>Archetype : Hero </li>
    <li>Affinity : Fire </li>
    <li>Profession : Viking </li>
    <li>Hobbies : pillaging, killing, fighting, feasting, drinking, looking for Valhalla </li>
    </ul>
    <br><br><br>
    <h2>About me!</h2>
    <h3>Motivations </h3>
    Entering Vallhal, Vengence, Finding what brought him here, Making the most of his time here, understanding this strange Hugr <br /><br>
    
    <h3>Typical Day </h3>
    Wake up usually hungover and well battleworn from the night before. Wash, comb hair and beard, train, search anew, ask many questions, aggravate someone, inevitably end up in a fight, win, feast, drink into a stupor, Sleep. <br /><br>
    
    <h3>History </h3>
    While much of Reidar’s past is lost to the weavings of the Norns his body is coated in an array of tattoos that tell the stories of his many battles. He searches for the path to the great hall of the All-Father that seems to evade him still. 
</p>
</MainLayout>