---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Villains">
    <h1>Villains</h1>
    <p>Villains? What villains? You're just out here living your best life. No villains at all :)<br />
    If there were villains...<br />
    I bet it would be O'Malley</p>
</MainLayout>
