@import url("https://fonts.googleapis.com/css?family=Redacted&display=swap");

body {
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: black;
    color: rgb(241, 242, 226);
}
a:link {
    color: #219ebc;
}

a:visited {
    color: goldenrod;
}

h1 {
    margin: 2px;
    font-weight: 300;
    color: goldenrod;
    font-size: 3em;
}
h2 {
    margin-bottom: 2px;
    color: goldenrod;
}

.redacted {
    font-family: "Redacted", sans-serif;
}

article,
footer {
    padding: 1rem;
}

#ProfilePic {
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 2rem;
}

#art {
    padding: 1rem;
    float: left;
    width: 25%;
}

/* NOTE: Added by Corey for aligning br underneath a floated image */
br {
    clear: left;
}
