---
import "../style.css";
import "../navbar.css";
import DarkModeButton from "../components/DarkModeButton.astro";
let { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- NOTE: Added by Corey, for browser styling -->
        <meta name="theme-color" content="#219EBC" />
        <title>{title}</title>
    </head>
    <body>
        <nav id="topnav">
            <ul>
                <!-- <li><a href="/Test">Test</a></li> -->
                <li><a href="/Spectre">Sessions</a></li>
                <li class="dropdown">
                    <a>Characters</a>
                    <ul class="dropdown-content">
                        <li class="dropdown">
                            <a href="/Spectre/NPCs">NPCs</a>
                            <ul class="dropdown-content dropdown-secondary">
                                <li><a href="/Spectre/the-help">The Help</a></li>
                                <li><a href="/Spectre/Liz">Liz</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/Spectre/players">Players</a>
                            <ul class="dropdown-content dropdown-secondary">
                                <li><a href="/Spectre/Gideon">Gideon Valentine</a></li>
                                <li><a href="/Spectre/Viggo">Reidar Viggo</a></li>
                                <li><a href="/Spectre/August">August</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/Spectre/villains">Villains</a>
                            <ul class="dropdown-content dropdown-secondary">
                                <li>
                                    <a href="/Spectre/the-shepherd">The Shepherd</a>
                                </li>
                                <li><a href="/Spectre/the-light">The Light</a></li>
                                <li><a href="/Spectre/the-dog">The Dog</a></li>
                                <li>
                                    <a href="/Spectre/the-prisoner">The Prisoner</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>Locations</a>
                    <ul class="dropdown-content">
                        <li><a href="/Spectre/trinity">Trinity Campus</a></li>
                        <li>
                            <a href="/Spectre/grange-gorman">Grange Gorman Campus</a>
                        </li>
                        <li><a href="/Spectre/lamplight"> The Lamplight</a></li>
                        <li><a href="/Spectre/the-spire"> The Spire</a></li>
                        <li><a href="/Spectre/the-grand"> The Grand</a></li>
                        <li><a href="/Spectre/safehouse"> The Safehouse</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>Events</a>
                    <ul class="dropdown-content">
                        <li><a href="/Spectre/morrigan">Morrigan</a></li>
                        <li>
                            <a href="/Spectre/paistai-na-tuath">Paistai na Tuath</a>
                        </li>
                        <li><a href="/Spectre/madness">The Madness</a></li>
                        <li><a href="/Spectre/barghest">Barghest</a></li>
                        <li><a href="/Spectre/the-wall">The Wall</a></li>
                    </ul>
                </li>
                <li><a href="/Spectre/credits">Credits</a></li>
                <!-- NOTE: Changed the button here -->
                <li><DarkModeButton /></li>
            </ul>
        </nav>
        <style>
            ul {
                display: flex;
            }
            ul li:last-child {
                margin-left: auto;
                margin-right: 0;
            }
        </style>

        <article><slot /></article>

        <footer>
            <div class="container">
                <p>Copyright 2023, all rights reserved.</p>
            </div>
        </footer>
    </body>
</html>
